:host {
    background-color: #FEEDEF;
    height: 100%;
    width: 100%;
    min-height: fit-content;
    min-width: fit-content;
    padding-right: 15%;
    display: inline-table;
}
.example-card {
    max-width: 25%;
    min-width: 380px;
    height: 50%;
    width: 35%;
    margin-top: 2%;
    margin-bottom: 10%;
    background: #fff;
    display: table;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}


.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 50%;
    border: 25% solid white;
}

.login_btn {
    width: 100%;
    background: #CEAC2C !important;
    color: white !important;
    border-radius: 2.70rem 2.70rem 2.70rem 2.70rem !important;
}

.login_container {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.input-group-text {
    background: #CEAC2C !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input-details {
    border-radius: 15px;
    border: 1px solid #888888;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.label-for-subtitles {
    color: #888888;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
}