<mat-card class="example-card">
    <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
            <img src="https://e7.pngegg.com/pngimages/674/885/png-clipart-pet-shop-illustration-alecrim-pet-e-jardim-loja-2-pet-shop-pet-shop-model-celebrities-building.png" class="brand_logo" alt="Logo">
        </div>
    </div>
    <br>
    <mat-card-header>
        <mat-card-title style="text-align: center; margin-top: 20%; color: #888888; font-weight: bold;">Ingresa para conocer nuestros servicios</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form #form="ngForm" style="display: flex; flex-direction: column;">

            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <div class="label-for-subtitles">Correo Electrónico:</div>
            </div>
            <mat-form-field>


                <div class="input-details" style="padding-left: 5%;">
                    <input matInput type="text" #emailUI="ngModel" required ngModel name="email">
                </div>


            </mat-form-field>

            <div *ngIf="emailUI.invalid && (emailUI.touched || emailUI.dirty)" class="alert alert-danger">
                <div *ngIf="emailUI.errors.required">
                    Email incorrecto
                </div>
            </div>
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
                <div class="label-for-subtitles">Contraseña:</div>
            </div>
            <mat-form-field>
                <div class="input-details" style="padding-left: 5%;">
                    <input matInput type="password" #passwordUI="ngModel" required name="password" ngModel>
                </div>
            </mat-form-field>

            <div *ngIf="passwordUI.invalid && (passwordUI.touched || passwordUI.dirty)" class="alert alert-danger">
                <div *ngIf="passwordUI.errors.required">
                    Contraseña incorrecta
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="button" name="button" class="btn login_btn" mat-button [disabled]="form.invalid" (click)="onLogin(form)">Login</button>
        </div>

        <div class="forgotPassword" >
            <span routerLink="/forgot-password">¿Olvidaste tu contraseña?</span>
        </div>

        <div style="text-align: center; text-decoration: underline; color: #888888; font-weight: bold; padding-bottom: 5%;">
            <div class="forgotPassword">

                <span routerLink="/register">¿No tienes cuenta todavía? ¡Registrate ahora!</span>
            </div>
        </div>
    </mat-card-actions>
</mat-card>


<!--IMAGENES-->

<div class="row">
    <div class="col-1 image-for-login">
        <img src="../../assets/images/login.png" class="" alt="login" width="500" height="400">
        <br>
        <div style="padding-left: 60px;">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../assets/images/login2.png" class="" alt="login" width="200" height="200">
                        </td>
                        <td>
                            <img src="../../assets/images/login3.png" class="" alt="login" width="200" height="200">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>