<div class="center-image-forgot-password">
    <img src="../../assets/images/Forgot password-bro.png" class="" alt="login" width="400" height="400">
</div>

<div style="text-align: center; color: #888888; font-weight: bold; font-size: 30px;">
    <span>¿Olvidaste tu contraseña?</span> <br>
    <span>¡No necesitas preocuparte! Para recuperar tu contraseña escribe tu email</span>
</div>



<div class="center-all-text">
    <input matInput type="email" class="form-control input-details" placeholder="Email Address" #passwordResetEmail required>
    <button type="submit" class="btn login_btn" value="Reset Password" (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">Reset password</button>
</div>
