<mat-card class="example-card">

    <br>
    <mat-card-header>
        <mat-card-title class="example">Type your mail to recover your password</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div style="display: flex; flex-direction: column;">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <mat-form-field>

                <mat-label>Email</mat-label>
                <input matInput type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
            </mat-form-field>
        </div>

    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" class="btn login_btn" value="Reset Password" (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">Enviar</button>
        </div>
    </mat-card-actions>
</mat-card>