<br>
<br>
<br>
<br>
<br>
<br>
<mat-drawer-container class="example-container" style="width: 100%; height: 600px">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 300px; height: 100%;" [position]="'end'">
        <div style="display : flex; flex-direction: column;">
            <form [formGroup]="productForm">

                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" type="text">
                </mat-form-field>

                <div *ngIf="productForm.get('description').invalid && (productForm.get('description').touched || productForm.get('description').dirty)" class="alert alert-danger">

                    <div *ngIf="productForm.get('description').errors.required">
                        NAME IS REQUIRED
                    </div>

                    <div *ngIf="productForm.get('description').errors.minlength">
                        NAME MUST HAVE 3 CHARACTERS MIN
                    </div>

                    <div *ngIf="productForm.get('description').errors.maxlength">
                        NAME MUST HAVE 10 CHARACTERS MAX
                    </div>

                </div>


                <mat-form-field>
                    <mat-label>ImageURL</mat-label>
                    <input matInput formControlName="imageUrl" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Stock</mat-label>
                    <input matInput formControlName="stock" type="text">
                </mat-form-field>


            </form>
        </div>

        <button mat-button style="background-color: #66e0ad; margin-right: 5px;" (click)="onEnviar2();">CREATE</button>
        <button mat-button style="background-color: #66e0ad;" (click)="onUpdateProduct()">UPDATE</button>

    </mat-drawer>

    <div class="example-sidenav-content" style="margin-top: 20px; margin-left: 10px;">
        <button type="button" style="background: #2db844; padding-top: 15px; padding-bottom: 15px;" mat-button (click)="drawer.toggle()">
    <i class="fas fa-folder-plus fa-4x"></i>Añadir nuevo producto
  </button>
    </div>


    <div class="row">
        <div *ngFor="let product of products" class="row col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="padding: 50px; display: flex; justify-content: center;">
            <mat-card class="example-card text-black bg-primary123 mb-3">
                <mat-card-header>
                    <mat-card-title>{{product.title}}</mat-card-title>
                    <mat-card-subtitle>{{product.price}} Bs.</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="product.imageUrl" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{product.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button style="background-color: #DED5D3;" (click)="onEdit(product); drawer.toggle()">EDITAR</button>
                    <button mat-button style="background-color: #DED5D3;" (click)="onDelete(product.id)">ELIMINAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</mat-drawer-container>





<router-outlet></router-outlet>