<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-drawer-container class="example-container" style="width: 100%; height: fit-content; padding-top: 4%; padding-left: 2%;">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 300px; height: 100%; margin-top: 20px; padding-top: 4%; background: ghostwhite;" [position]="'end'">
        <table style="font-weight: bold;">
            <tr>
                <td>RESERVA</td>
                <td>HORA</td>
            </tr>
            <tr *ngFor="let vetservice of schedule">
                <td>{{vetservice.title}}</td>
                <td>{{vetservice.hour}} hrs.</td>

            </tr>
        </table>
    </mat-drawer>

    <section id="hero" class="hero d-flex align-items-center" style="background-color: #FEEDEF;" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="../../assets/images/service-page.svg" class="img-fluid" alt="">
                </div>
                
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <i class="fas fa-briefcase-medical" style="font-size: 100px; color: #CEAC2C; padding-right: 20px;"></i>
                    <h1>Veterinarias</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">A los dueños de mascotas ofrecemos servicios veterinarios de varias veterinarias cerca de sus domicilios</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    
    <section id="hero" class="values" style="background-color: #FEEDEF;">
        <div style="font-size: 40px; padding-left: 30px;">
            + 100 VETERINARIAS
        </div>
            <div class="row">
                <div class="col-lg-3 mt-3 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="200">
                        <img src="../../assets/images/Veterinarias/safari.png" class="" alt="login" width="200" height="200">
                    </div>
                </div>
    
                <div class="col-lg-3 mt-3 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="400">
                        <img src="../../assets/images/Veterinarias/canito.jpg" class="" alt="login" width="250" height="200">
                    </div>
                </div>
    
                <div class="col-lg-3 mt-3 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="600">
                        <img src="../../assets/images/Veterinarias/hocico.jpg" class="" alt="login" width="200" height="200">
                    </div>
                </div>
    
                <div class="col-lg-3 mt-3 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="600">
                        <img src="../../assets/images/Veterinarias/semevet.jpg" class="" alt="login" width="200" height="200">
                    </div>
                </div>
    
            </div>
            <p></p>
            
            <div style="text-align: center; margin-bottom: 2%; ">
                <h2>Agenda la cita para tu mascota a la hora que más te convenga</h2>
                <h3>muchas de nuestras veterinarias ofrecen servicios a domicilio</h3>
            </div>
    
            <div style="text-align: center;">
                <button class="btn btn-outline-success" style="background: #CEAC2C; font-size:150%; padding:1%;" mat-button (click)="drawer.toggle()">
                    MIS RESERVAS <i class="fas fa-calendar-alt"></i>
                </button>
            </div>
    </section>

    <div class="row"  style="padding: 2%; margin: 3%;">
        <div *ngFor="let vetservice of vets;" class=" col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"style="margin-bottom: 5%;">
            <mat-card class="example-card"style="margin-bottom: 10%; margin-left: 10%; margin-right: 10%; height: 100%">
                <mat-card-header>
                    <mat-card-title style="font-weight: bolder;">{{vetservice.title}}</mat-card-title>
                    <mat-card-subtitle>Veterinaria: {{vetservice.storeName}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="vetservice.imageUrl" alt="Imagen del servicio" style="height: 300px;">
                <mat-card-content style="height: 100px; overflow-y: auto;">
                    <p>
                        Servicio: {{vetservice.description}}
                    </p>
                    <p>
                        Horario: {{vetservice.hour}} hrs.
                    </p>
                    <p>

                    </p>
                </mat-card-content>
                <mat-card-actions style=" position: absolute; bottom: 5%; left: 35%;">
                    <button style="background-color: #d6b94e; border-radius: 15px;" mat-raised-button (click)="onReservar(vetservice); vetservice.clicked=true;" [disabled]="vetservice.clicked">RESERVAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</mat-drawer-container>