<mat-drawer-container class="example-container" style="width: 100%; height: fit-content; padding-top: 4%; padding-left: 2%;">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 300px; height: 100%; margin-top: 20px; padding-top: 4%; background: ghostwhite;" [position]="'end'">
        <table style="font-weight: bold;">
            <tr>
                <td>RESERVA</td>
                <td>HORA</td>
            </tr>
            <tr *ngFor="let vetservice of schedule">
                <td>{{vetservice.title}}</td>
                <td>{{vetservice.hour}} hrs.</td>

            </tr>
        </table>
    </mat-drawer>

    <div class="row" style="height: 95%;" >
        <div class="column1">
                <img style="padding-top: 6%; text-align: center;" src="../../assets/images/service-page.svg" alt="imagen" width="80%" height="80%">
        </div>
        <div class="column2" style="padding-top: 6%; text-align: center;">
            <div>
                <p style="font-size: 200%; "><i class="fas fa-briefcase-medical" style="font-size: 200%; color: #CEAC2C; padding-right: 2%;"></i>Veterinarias</p>
                <p style="padding-top: 10%; font-size: 170%; padding-left: 15%; padding-right: 15%;">A los dueños de mascotas ofrecemos servicios veterinarios de varias veterinarias cerca de sus domicilios </p>
            </div>
        </div>
    </div>
    <div style="font-size: 230%; text-align: center;">
        + 40 Veterinarias
    </div>


    <div class="row" style="padding-bottom: 4%; padding-left: 5%;" >
        <div class="column22">
            <div class="image-pets" >
                <img style="padding-top: 10%;" src="../../assets/images/Veterinarias/safari.png" class="" alt="safari" width="200" height="200">
            </div>
        </div>
        <div class="column22">
            <div class="image-pets">
                <img style="padding-top: 10%;" src="../../assets/images/Veterinarias/canito.jpg" class="" alt="canito" width="250" height="200">
            </div>
        </div>
    
        <div class="column22">
            <div class="image-pets">
                <img style="padding-top: 10%;" src="../../assets/images/Veterinarias/hocico.jpg" class="" alt="hocico" width="200" height="200">
            </div>
        </div>
    
        <div class="column22">
            <div class="image-pets">
                <img style="padding-top: 10%;" src="../../assets/images/Veterinarias/semevet.jpg" class="" alt="semevet" width="200" height="200">
            </div>
        </div>
    
    </div>

    <div style="text-align: center; margin-bottom: 2%; ">
        <h2>Agenda la cita para tu mascota a la hora que más te convenga</h2>
        <h3>muchas de nuestras veterinarias ofrecen servicios a domicilio</h3>
    </div>

    <div class="example-sidenav-content" style="text-align: center;">
        <button class="btn btn-outline-success" style="background: #CEAC2C; font-size:150%; padding:1%;" mat-button (click)="drawer.toggle()">
      MIS RESERVAS <i class="fas fa-calendar-alt"></i>
    </button>
    </div>

    <div class="row" style="padding: 40px; margin: 50px;">
        <div *ngFor="let vetservice of vets;" class=" col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <mat-card class="example-card" style="margin-bottom: 10%; margin-left: 10%; margin-right: 10%;">
                <mat-card-header>
                    <mat-card-title style="font-weight: bolder;">{{vetservice.title}}</mat-card-title>
                    <mat-card-subtitle>Veterinaria: {{vetservice.storeName}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="vetservice.imageUrl" alt="Imagen del servicio" height="30%" width="30%">
                <mat-card-content>
                    <p>
                        Servicio: {{vetservice.description}}
                    </p>
                    <p>
                        Horario: {{vetservice.hour}} hrs.
                    </p>
                    <p>

                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button style="background-color: #d6b94e; border-radius: 15px; padding-left: 30px; padding-right: 30px;" mat-raised-button (click)="onReservar(vetservice); vetservice.clicked=true;" [disabled]="vetservice.clicked">RESERVAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</mat-drawer-container>