<mat-drawer-container class="example-container" style="width: 100%; height: fit-content; padding-top: 4%; padding-left: 2%;">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 300px; height: 100%; margin-top: 20px; padding-top: 4%; background: ghostwhite;" [position]="'end'">

        <table style="font-weight: bold;">
            <tr>
                <td>PRODUCTO</td>
                <td>PRECIO </td>
            </tr>
            <tr *ngFor="let product of cart">
                <td>{{product.title}}</td>
                <td>{{product.price}} Bs.</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>{{pricesProductsTotalAmount}} Bs.</td>
            </tr>
        </table>

    </mat-drawer>

    <div class="row">
        <div class="column1">
                <img style="padding-top: 6%; padding-left: 20%;" src="../../assets/images/shopping-products.png" class="" alt="productos" width="85%" height="107%">
        </div>
    
        <div class="column2" style="padding-top: 8%; text-align: center;">
            <div>
                <p style="font-size: 200%; "><i class="fas fa-store" style="font-size: 200%; color: #CEAC2C;padding-right: 2%;"></i>Tiendas</p>
                <p style="padding-top: 10%; font-size: 170%; padding-left: 15%; padding-right: 15%;">Pide online de manera rápida y fácil en reconocidas tiendas donde ofrecen variedades de productos </p>
            </div>
        </div>
    </div>
    <div style="font-size: 230%; text-align: center;">
        + 60 tiendas
    </div>
    
    <div class="row"  style="padding-bottom: 4%;" >
        <div class="column22">
            <div class="image-pets">
                <img style="padding-top: 10%;" src="../../assets/images/tiendas/animall.jpg" class="" alt="login" width="200" height="200">
            </div>
        </div>
        <div class="column22">
            <div class="image-pets">
                <img style="padding-top: 10%;" src="../../assets/images/tiendas/pelulilandia.jpg" class="" alt="login" width="250" height="200">
            </div>
        </div>
    
        <div class="column22">
            <div class="image-pets">
                <img style="padding-top: 10%;" src="../../assets/images/tiendas/PetHouse.jpg" class="" alt="login" width="200" height="200">
            </div>
        </div>
    
        <div class="column22">
            <div class="image-pets">
                <img style="padding-top: 10%;" src="../../assets/images/tiendas/SuperPatitas.png" class="" alt="login" width="200" height="200">
            </div>
        </div>
    
    </div>


    <div style="text-align: center; margin-bottom: 2%;">
        <h2>Encuentra en nuestra página el producto ideal para tu mascota</h2>
        <h3>nuestros proveedores llevarán tu compra hasta tu hogar</h3>
    </div>

    <div class="example-sidenav-content" style="text-align: center;">
        <button class="btn btn-outline-success" style="background: #CEAC2C; font-size:150%; padding:1%;" mat-button (click)="drawer.toggle()">
        MI CARRITO <i class="fas fa-shopping-cart"></i>
      </button>
    </div>


    <div class="row" style="padding: 2%; margin: 3%;">
        <div *ngFor="let product of products" class=" col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="margin-bottom: 5%;">
            <mat-card class="example-card"style="margin-bottom: 10%; margin-left: 10%; margin-right: 10%; height: 100%">
                <mat-card-header>
                    <mat-card-title style="font-weight: bolder;">{{product.title}}</mat-card-title>
                    <mat-card-subtitle>Tienda: {{product.storeName}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="product.imageUrl" alt="Imagen del producto" style="height: 280px;">
                <mat-card-content style="height: 100px; overflow-y: auto;">
                    <p>
                        Descripción: {{product.description}}
                    </p>
                    <p>
                        Precio: {{product.price}} Bs.
                    </p>
                    <!--     <p>
                        Stock: {{product.stock}}
                    </p>-->
                </mat-card-content>
                <mat-card-actions style=" position: absolute; bottom: 5%; left: 35%;">
                    <button style="background-color: #d6b94e; border-radius: 15px;" mat-button (click)="onComprar(product)">COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </div>


    </div>