  
.host {
    margin: 0;
    align-items: center;
    justify-content: center;
}

.container {
    align-items: center;
    text-align: center;
}

.center {
    margin: auto;
    width: 70%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.child {
    margin: 0 auto;
}