        <div class="container" style="padding-top: 15%;">
            <div class="d-flex flex-row" style="padding-left: 10%;">
                <div class="col-md-3">
                    <div class="column">
                        <img src="../../../assets/images/not-implemented.png" height="80%" width="80%"/>
                        <h3>Mariana Carlo</h3>
                        <h6>luzmarianacarlo1999@gmail.com</h6>
                        <p>9no semestre, Ingeniería de Sistemas Computacionales, Universidad Privada Boliviana </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="column">
                        <img src="../../../assets/images/not-implemented.png" height="80%" width="80%"/>
                        <h3>Leonardo Franco</h3>
                        <h6>leo@gmail.com</h6>
                        <p>9no semestre, Ingeniería de Sistemas Computacionales, Universidad Privada Boliviana </p>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="column">
                        <img src="../../../assets/images/not-implemented.png" height="80%" width="80%"/>
                        <h3>Fernanda Martínez</h3>
                        <h6>f.l.m.m.0027@gmail.com</h6>
                        <p>7mo semestre, Ingeniería de Sistemas Computacionales, Universidad Privada Boliviana </p>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="column">
                        <img src="../../../assets/images/not-implemented.png" height="80%" width="80%"/>
                        <h3>Sergio Torrico</h3>
                        <h6>sergioatorricol@gmail.com</h6>
                        <p>9no semestre, Ingeniería de Sistemas Computacionales, Universidad Privada Boliviana </p>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="column">
                        <img src="../../../assets/images/not-implemented.png" height="80%" width="80%"/>
                        <h3>Sara Uriarte</h3>
                        <h6>sarita@gmail.com</h6>
                        <p>9no semestre, Ingeniería de Sistemas Computacionales, Universidad Privada Boliviana </p>
                    </div>
                </div>
            </div>
        </div>