/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
$custom-collection: (
    navbar :  #CEAC2C,
    success: #03CEA4,
    darkblue:  #2E5077,
    danger:    #FB4D3D,
    darkernav: #a5871b

);
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}