<div class="row">
    <div class="column1">
        <div class="image-pets">
            <img src="../../assets/images/signup.png" class="" alt="login" width="500" height="500">
        </div>
        <div class="label-for-subtitles-register">
            <a>Patitas Site, una plataforma donde podrás encontrar lo que necesites para tu mascota y más</a>
        </div>

    </div>

    <div class="column2">
        <mat-card class="example-card">

            <mat-card-header>
                <mat-card-title style="text-align: center; color: #888888; font-weight: bold; ">Comienza por ingresar tus
                    datos y verifícalos antes de enviarlos</mat-card-title>
            </mat-card-header>

            <mat-card-content style="display: flex; flex-direction: column;">
                <form [formGroup]="userForm" style="display: flex; flex-direction: column;">
                    <!--EMAIL-->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <div class="label-for-subtitles">Correo Electrónico:</div>
                    </div>
                    <mat-form-field>

                        <div class="input-details">
                            <input matInput type="email" required ngModel name="email" #userEmail
                                formControlName="email" maxlength="32">
                        </div>
                    </mat-form-field>

                    <div *ngIf="userForm.get('email').invalid && (userForm.get('email').touched || userForm.get('email').dirty)"
                        class="alert alert-danger">

                        <div *ngIf="userForm.get('email').errors.required">
                            Email requerido
                        </div>

                        <div *ngIf="userForm.get('email').errors.maxlength">
                            Email demasiado largo
                        </div>

                        <div *ngIf="userForm.get('email').errors.pattern">
                            Email inválido
                        </div>
                    </div>

                    <!--PASSWORD-->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        <div class="label-for-subtitles">Contraseña:</div>
                    </div>
                    <mat-form-field>
                        <div class="input-details">
                            <input matInput type="password" required name="password" ngModel #userPwd
                                formControlName="password" maxlength="24">
                        </div>
                    </mat-form-field>

                    <div *ngIf="userForm.get('password').invalid && (userForm.get('password').touched || userForm.get('password').dirty)"
                        class="alert alert-danger">

                        <div *ngIf="userForm.get('password').errors.required">
                            Contraseña requerida
                        </div>

                        <div *ngIf="userForm.get('password').errors.maxlength">
                            Esta contraseña es demasiado larga
                        </div>

                        <div *ngIf="userForm.get('password').errors.minlength">
                            La contraseña debe tener al menos 6 caracteres
                        </div>
                    </div>

                    <!--CELULAR-->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                        <div class="label-for-subtitles">Celular:</div>
                    </div>
                    <mat-form-field>
                        <div class="input-details">
                            <input matInput type="text" required name="celular" ngModel formControlName="cellphone" maxlength="8">
                        </div>
                    </mat-form-field>

                    <div *ngIf="userForm.get('cellphone').invalid && (userForm.get('cellphone').touched || userForm.get('cellphone').dirty)"
                    class="alert alert-danger">

                    <div *ngIf="userForm.get('cellphone').errors.required">
                        Teléfono celular requerido
                    </div>
                    
                    <div *ngIf="userForm.get('cellphone').errors.pattern">
                        Parece que este número no es válido en Bolivia
                    </div>
                </div>

                    <!--DIRECCION-->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                        <div class="label-for-subtitles">Dirección:</div>
                    </div>
                    <mat-form-field>
                        <div class="input-details">
                            <input matInput type="text" required name="direccion" ngModel formControlName="address" maxlength="100">
                        </div>
                    </mat-form-field>

                    <div *ngIf="userForm.get('address').invalid && (userForm.get('address').touched || userForm.get('address').dirty)"
                    class="alert alert-danger">

                    <div *ngIf="userForm.get('address').errors.required">
                        Dirección requerida
                    </div>
                    
                    <div *ngIf="userForm.get('address').errors.maxlength">
                        Esta dirección es demasiado larga
                    </div>
                </div>

                </form>

            </mat-card-content>
            <mat-card-actions>

                <div class="formGroup d-flex justify-content-center mt-3 login_container" style="margin-bottom: 5%;">
                    <button type="button" name="button" class="btn login_btn" value="Sign Up" mat-button
                        (click)="register_service.SignUp(userEmail.value, userPwd.value); onEnviar2();">Registrarse</button>
                </div>
            </mat-card-actions>
        </mat-card>





        <router-outlet></router-outlet>

    </div>