<div class="row">
    <div class="column1">
        <div class="image-pets">
            <img src="../../assets/images/signup.png" class="" alt="login" width="500" height="500">
        </div>
        <div class="label-for-subtitles-register">
            <a>Patitas Site, una plataforma donde podrás encontrar lo que necesites para tu mascota y más</a>
        </div>

    </div>

    <div class="column2">
        <mat-card class="example-card">

            <mat-card-header>
                <mat-card-title style="text-align: center; color: #888888; font-weight: bold;">Comienza por ingresar tus datos y verifícalos antes de enviarlos</mat-card-title>
            </mat-card-header>

            <mat-card-content style="display: flex; flex-direction: column;">
                <form [formGroup]="userForm" style="display: flex; flex-direction: column;">
                    <!--NOMBRE DE USUARIO-->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <div class="label-for-subtitles">Correo Electrónico:</div>
                    </div>
                    <mat-form-field>


                        <div class="input-details">
                            <input matInput type="text" required ngModel name="email" #userEmail formControlName="email">
                        </div>


                    </mat-form-field>

                    <!--PASSWORD-->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        <div class="label-for-subtitles">Contraseña:</div>
                    </div>
                    <mat-form-field>
                        <div class="input-details">
                            <input matInput type="password" required name="password" ngModel #userPwd formControlName="password">
                        </div>
                    </mat-form-field>

                    <!--CELULAR-->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                        <div class="label-for-subtitles">Celular:</div>
                    </div>
                    <mat-form-field>
                        <div class="input-details" >
                            <input matInput type="number" required name="celular" ngModel formControlName="cellphone">
                        </div>
                    </mat-form-field>

                    <!--DIRECCION-->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                        <div class="label-for-subtitles">Dirección:</div>
                    </div>
                    <mat-form-field>
                        <div class="input-details">
                            <input matInput type="text" required name="direccion" ngModel formControlName="address">
                        </div>
                    </mat-form-field>
                </form>

            </mat-card-content>
            <mat-card-actions>

                <div class="formGroup d-flex justify-content-center mt-3 login_container">
                    <button type="button" name="button" class="btn login_btn" value="Sign Up" mat-button (click)="register_service.SignUp(userEmail.value, userPwd.value); onEnviar2();">Registrarse</button>
                </div>
            </mat-card-actions>
        </mat-card>





        <router-outlet></router-outlet>

    </div>
</div>