<section id="hero" class="hero d-flex align-items-center" style="background-color: #FEEDEF; ">
    <div class="container"
        style="text-align: center; padding-top: 8%; padding-bottom: 4%; margin-bottom: 50px; margin-top: 100px; margin-bottom: 150px;">
        <div class="row" *ngIf="ngAuthService.userState as user">
            <div class="media" style="margin-top: 80px;">
                <h2 style="text-align: center;"><strong> ¡HOLA {{user.email}}! </strong></h2>
                <br>
            </div>
            <!--<div class="imagen">
                <img src="../../../assets/images/not-implemented.png" width="45%" height="80%">
            </div>
            <div class="texto">
                <h3>Woops! Parece que esta sección sigue en desarrollo... </h3>
                <h3>disculpa las molestias!</h3>
            </div>-->

            <h2 style="text-align: left;"><strong> Cerca de ti:</strong></h2>
            <br>
            <br>
            <br>
        </div>
        <div id="mapa-mapbox" style="align-content: center; margin-left: 200px; background-color: #FEEDEF;"></div>

    </div>
</section>

<div style="margin-top: 80px; background-color: #FEEDEF;">
    <h2 style="text-align: center;"><strong> Tu historial de reservas:</strong></h2>
    <div *ngIf="bookings.length === 0" style="text-align: center;">
        <img src="../../assets/images/Empty-vet-bookings.png" class="img-fluid" width="300px" height="300px">
        <h3 style="padding-bottom: 30px;">Por ahora no tienes reservas</h3>
    </div>
    <div *ngFor="let reserve of bookings | keyvalue;">
        <!-- Key: <br>{{reserve.key}} and Value: <br>{{reserve.value | json}} -->
        <div *ngFor="let pru of reserve.value | keyvalue;">
            <!-- Keyaaaaaa: <br>{{pru.key}} and Valueaaa: <br>{{pru.value | json}} -->
            <div *ngFor="let item of pru.value | keyvalue;">
                <!-- Kuuuuu: <br>{{item.key}} and Vuuu: <br>{{item.value | json}} -->
                <div *ngFor="let detail of item.value | keyvalue;">
                    <!-- Keeeeeee: <br>{{detail.key}} and Veee: <br>{{detail.value | json}} -->

                    <table style="font-weight: bold; margin-right: 10px; margin-bottom: 30px; margin-left: 15px;">
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngFor="let each of detail.value | keyvalue;">
                            <div *ngIf="each.key === title">
                                <td style="padding-right: 25px;">Servicio:</td>
                                <td>{{each.value}}</td>
                            </div>
                            <div *ngIf="each.key === description">
                                <td>Descripción:</td>
                                <td>{{each.value}}</td>
                            </div>
                            <div *ngIf="each.key === date">
                                <td style="padding-right: 40px;">Fecha:</td>
                                <td>{{each.value | date}} </td>
                            </div>
                            <div *ngIf="each.key === hour">
                                <td style="padding-right: 40px;">Hora: </td>
                                <td>{{each.value}}</td>
                            </div>
                            <div *ngIf="each.key === storeName">
                                <td style="padding-right: 10px;">Veterinaria: </td>
                                <td>{{each.value}}</td>
                            </div>

                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
    <h2 style="text-align: center;"><strong> Tu historial de productos:</strong></h2>
    <div *ngIf="productsB.length === 0" style="text-align: center;">
        <img src="../../assets/images/Empty-products.png" class="img-fluid" width="300px" height="300px">
        <h3 style="padding-bottom: 30px;">Por ahora no tienes productos comprados</h3>
    </div>
    <div *ngFor="let reserve of productsB | keyvalue;">
        <!-- Key: <br>{{reserve.key}} and Value: <br>{{reserve.value | json}} -->
        <div *ngFor="let pru of reserve.value | keyvalue;">
            <!-- Keyaaaaaa: <br>{{pru.key}} and Valueaaa: <br>{{pru.value | json}} -->
            <div *ngFor="let item of pru.value | keyvalue;">
                <!-- Kuuuuu: <br>{{item.key}} and Vuuu: <br>{{item.value | json}} -->
                <div *ngFor="let detail of item.value | keyvalue;">
                    <!-- Keeeeeee: <br>{{detail.key}} and Veee: <br>{{detail.value | json}} -->

                    <table style="font-weight: bold; margin-right: 10px; margin-bottom: 30px; margin-left: 15px;">
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngFor="let each of detail.value | keyvalue;">
                            <div *ngIf="each.key === titleP">
                                <td style="padding-right: 25px;">Producto:</td>
                                <td>{{each.value}}</td>
                            </div>
                            <div *ngIf="each.key === descriptionP">
                                <td>Descripción:</td>
                                <td>{{each.value}}</td>
                            </div>
                            <div *ngIf="each.key === storeNameP">
                                <td style="padding-right: 40px;">Tienda:</td>
                                <td>{{each.value}} </td>
                            </div>
                            <div *ngIf="each.key === price">
                                <td style="padding-right: 40px;">Precio: </td>
                                <td>{{each.value}}</td>
                            </div>


                        </tr>
                    </table>


                </div>
            </div>
        </div>

    </div>



    <h1></h1>
</div>