
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1>Trabajando contigo por el bienestra de tu mascota</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Nuestro objetivo es brindar la mejor atención veterinaria posible en un ambiente relajado y amigable.</h2>
          <h2 data-aos="fade-up" data-aos-delay="400"> Nuestra misión es dar los mejores servicios y productos para que a tus mascotas no les falte nada.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="https://cdn.discordapp.com/attachments/725458549865709582/835286195663011901/undraw_chilling_8tii-removebg-preview.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Pide online de manera rápida y fácil en tiendas reconocidas de todo el país, donde podras encontrar una variedad de productos sin igual</h2>
        <p>Diferentes tiendas de productos para tus mascotas</p>
      </header>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="fade-up" data-aos-delay="200">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img-fluid" alt="">
            <h3>Ad cupiditate sed est odio</h3>
            <p>Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit. Et veritatis id.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img-fluid" alt="">
            <h3>Voluptatem voluptatum alias</h3>
            <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img-fluid" alt="">
            <h3>Fugit cupiditate alias nobis.</h3>
            <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->

  