<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1>Trabajando contigo por el bienestra de tu mascota</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Nuestro objetivo es brindar la mejor atención veterinaria posible en un ambiente relajado y amigable.</h2>
          <h2 data-aos="fade-up" data-aos-delay="400"> Nuestra misión es dar los mejores servicios y productos para que a tus mascotas no les falte nada.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="https://cdn.discordapp.com/attachments/725458549865709582/835286195663011901/undraw_chilling_8tii-removebg-preview.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Productos</h2>
        <p>Pide online en diferentes tiendas para tus mascotas de manera rápida y fácil en reconocidas tiendas donde ofrecen variedades de productos</p>
      </header>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="fade-up" data-aos-delay="200">
            <img src="../../assets/images/product.jpg" class="img-fluid" alt="">
            <h3>Camas comodas</h3>
            <p>En distintos tamaños y colores. Tenemos comodas camas para tus mascotas</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <img src="../../assets/images/dog.jpg" class="img-fluid" alt="">
            <h3>Viajes divertidos</h3>
            <p>Viajar se vuelve fácil con tu mascota al comprar nuestros productos.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img src="../../assets/images/cat.jpg" class="img-fluid" alt="">
            <h3>Juguetes</h3>
            <p>Tenemos distintos juguetes para tu mejor amigo! Compra acá para divertirte horas.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->


  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Servicios</h2>
        <p>Reserva en el sitio web para algún servicio en especial para tu mascota</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <i class="ri-discuss-line icon"><mat-icon aria-hidden="false" aria-label="Example home icon">pets</mat-icon></i>
            <h3>Cuidado veterinario</h3>
            <p>La prevención es nuestra promesa. La salud y el bienestar de las mascotas van un paso por delante.</p>
            <a href="#" class="read-more"><span>LEER MÁS</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <i class="ri-discuss-line icon"><mat-icon aria-hidden="false" aria-label="Example home icon">pets</mat-icon></i>
            <h3>Entrenamiento canino</h3>
            <p>Ya sea que tenga un cachorro joven, un perro mayor o un rescate, las clases de entrenamiento de PetSmart pueden ayudarlos a aprender a comportarse adecuadamente en casa y en movimiento.</p>
            <a href="#" class="read-more"><span>LEER MÁS</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-discuss-line icon"><mat-icon aria-hidden="false" aria-label="Example home icon">pets</mat-icon></i>
            <h3>Campamento de día para perros</h3>
            <p>¡Presentamos la mejor experiencia! Abierto los 7 días de la semana con sesiones de tiempo de juego de día completo y medio día de actividades programadas.</p>
            <a href="#" class="read-more"><span>LEER MÁS</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <i class="ri-discuss-line icon"><mat-icon aria-hidden="false" aria-label="Example home icon">pets</mat-icon></i>
            <h3>PetsHotel</h3>
            <p>¡Nuestras cómodas habitaciones y nuestros asociados con certificación de seguridad brindan un lugar acogedor para que los perros y gatos se queden mientras usted está fuera!</p>
            <a href="#" class="read-more"><span>LEER MÁS</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-box purple">
            <i class="ri-discuss-line icon"><mat-icon aria-hidden="false" aria-label="Example home icon">pets</mat-icon></i>
            <h3>Aseo</h3>
            <p>¡Hacer que los perros y gatos se vean geniales es nuestra pasión! Nuestros estilistas de mascotas capacitados para bañar, recortar y peinar ¡Reserve hoy la cita en el salón de su mascota!</p>
            <a href="#" class="read-more"><span>LEER MÁS</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box pink">
            <i class="ri-discuss-line icon"><mat-icon aria-hidden="false" aria-label="Example home icon">pets</mat-icon></i>
            <h3>Adopción</h3>
            <p>Cada mascota merece un hogar lleno de amor. Dé el primer paso para brindar un hogar amoroso a una mascota que lo necesite y adoptar una mascota.</p>
            <a href="#" class="read-more"><span>LEER MÁS</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Services Section -->