.navbar-icon-top .navbar-nav .nav-link>.fa {
    position: relative;
    width: 30px;
    font-size: 28px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
    top: 3px;
    line-height: 42px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    top: -10px;
}

.navbar-custom {
    background-color: #CEAC2C;
}

.nav-item {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-item2 {
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar {
    margin-bottom: 50px !important;
}